<mat-tab-group mat-stretch-tabs >
    <mat-tab label="Proizvodi"> 
        <div class="product-div">
            <div class="text-right">
                <button class="add-product-btn" (click)="openAddProductDialog()">Dodaj proizvod</button>
            </div>
        </div>

        <div class="container">
           <div class="header">

             <h3>Naziv</h3>
            <mat-divider></mat-divider>
           </div>
            <div class="row product-row" *ngFor="let product of listOfProducts">
                <div class="col-sm">
                    <h5>{{product.title}}</h5>
                </div>
                <div class="col-sm text-right">
                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openProductMoreDialog(product)"> Vise</button>
  <button mat-menu-item>Izmeni</button>
</mat-menu>


                    </div>
                </div>
            </div>
        </div>
        
    </mat-tab>
    <mat-tab label="Proizvodjaci"> 
        <app-manufacturer></app-manufacturer>
    </mat-tab>
  </mat-tab-group>
  