<div class="work-order-div">
    <div class="row">
        <div class="col-sm">
            <h1>Radni nalozi</h1>
        </div>
        <div class="col-sm text-right">
            <button class="add-btn" (click)="openAddWorkOrderDialog()">Dodaj nalog</button>
            
        </div>
     
    <div>
       
    </div>
    
    </div>
</div>
<mat-tab-group mat-stretch-tab animationDuration="300ms">
    <mat-tab label="Dodaj & Danas"> <div class="work-order-div">
        
        <div class="text-right">
            <h5>Datum: {{currentWorkOrder.date.slice(4,15)}}</h5>
            <div>
                <button class="add-btn" style="width: 20%;border: 1px solid #54347c;background-color: #54347c;color: #fff;" (click)="openAddWorkOrderDialog()">Dodaj proizvod</button>
            
            </div>
        </div>
    </div> </mat-tab>
    <mat-tab label="Istorija"> Content 2 </mat-tab>
  </mat-tab-group>