.add-category-btn{
    font-family: 'Poppins', sans-serif;
    background-color: #8dc63f;
    border-radius: 3px;
    border: 1px solid #8dc63f;
    -webkit-box-shadow: 10px 10px 42px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 42px -18px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 42px -18px rgba(0,0,0,0.75);
    font-size: 20px;
    width: 40%;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 2em;
}

.manufacturer-div{
    padding-top: 5em;
    padding-left: 2em;
    padding-right: 2em;
}
.manufacturer{
    background-color: #f3f4f7;

    -webkit-box-shadow: 10px 10px 42px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 42px -18px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 42px -18px rgba(0,0,0,0.75);
    padding: 1em;
}
h5,h1{

    font-family: 'Poppins', sans-serif;
}