<div class="manufacturer-div ">
    <div class="row">
        <div class="col-sm">
            <h1>Proizvodjaci</h1>
        </div>
        <div class="col-sm text-right">
            <button class="add-category-btn" (click)="openAddCategoryDialog()">Dodaj kategoriju</button>
        </div>
     
    <div>
       
    </div>
    
    </div>

    <div class="container">
        <div class="manufacturer" *ngFor="let manufacturer of listOfManufacturers">
            <h5>{{manufacturer.title}}</h5>
        </div>
    </div>
</div>