.login-col {
    -webkit-box-shadow: 10px 10px 42px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 42px -18px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 42px -18px rgba(0,0,0,0.75);
    margin-top: 15%;
}

.row{
    margin: 0 !important;
}

button{
    font-family: 'Poppins', sans-serif;
    background-color: #8dc63f;
    border-radius: 3px;
    border: 1px solid #8dc63f;
    -webkit-box-shadow: 10px 10px 42px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 42px -18px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 42px -18px rgba(0,0,0,0.75);
    font-size: 20px;
    width: 80%;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 2em;

}

mat-form-field{
    width: 100%;
}