h1{
    font-weight: bold;
    color: #54347c;
    font-family: 'Poppins', sans-serif;
}

h5{
    font-weight: bold;
    color: #8dc63f;
    line-height: 5px;
    font-family: 'Poppins', sans-serif;
}

h4{
    
    font-family: 'Poppins', sans-serif;
}

.info-div{
    background-color: #f3f4f7;
    padding: 2em;
    margin-top: 2em;
}