<div class="category-div">
    <div class="row">
        <div class="col-sm">
            <h1>Kategorije</h1>
        </div>
        <div class="col-sm text-right">
            <button class="add-category-btn" (click)="openAddCategoryDialog()">Dodaj kategoriju</button>
        </div>
    </div>
</div>

<div class="category-div">
    <div class="row">
        <div class="col-sm">
            <h1>Potkategorije</h1>
        </div>
        <div class="col-sm text-right">
            <button class="add-category-btn" (click)="openAddSubCategoryDialog()">Dodaj potkategoriju</button>
        </div>
    </div>
</div>